body {
    min-height: 5000px;
}

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 2rem;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.jumbotron {
    background-image: url(img-ngobar-8/img/jumbotron-bg.jpg);
    /* background-image: url(img-ngobar-8/electricity.jpg); */
    background-size: cover;
    background-position: center;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}


.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    font-size: 40px;
    line-height: 5rem;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* info panel */
.info-panel {
    /* background-color: salmon; */
    box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
    border-radius: 12px;
    background-color: white;
    margin-top: -100px;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    /* font-weight: 200; */
}

.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    margin: 30px 0;
}

/* testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 28px;
}

.testimonial figure img {
    width: 70px;
    margin: 20px 15px 5px;
    opacity: .6;
}

.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: black;
}

.testimonial figure span {
    display: block;
    font-size: 12px;
    color: #2c2424;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

@media (max-width: 576px) {
    .workingspace h3 {
        font-size: 32px;
    }

    .testimonial h5 {
        font-size: 18px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

@media (max-width: 768px) {
    .testimonial h5 {
        font-size: 20px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(66, 80, 202);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}